<div class="large-12 columns">
  <ul class="navigation">
    <li><a href="#" class="navigation-button active">Inicio</a></li>
    <li><a href="#" class="navigation-button">Servicios</a></li>
    <li><a href="#" class="navigation-button">Galeria</a></li>
    <li><a href="#" class="navigation-button">Articulos</a></li>
    <li><a href="#" class="navigation-button">Contactenos</a></li>
  </ul>
</div>